<div class="container fixed-bottom bg-secondary">
        <footer class="d-flex text-white flex-wrap justify-content-around align-items-center py-3">
            <p class="col-md-4 mb-0 text-white">&copy; 2023 COOL ART</p>
        
            <a href="https://internetcomputer.org/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img id="icp-onchain" alt="icp logo" width="300" height="auto">
            </a>
        </footer>
</div>