
<div class="container">
    <div>
        <h3 class="display-4 border-bottom mt-4">Get started</h2>
    </div>

    <div class="row align-items-md-center py-4 mt-5 px-4 bg-danger rounded border border-primary">
        <h2 class="text-white">Be careful</h2> 
        <p class="lead text-white">In order to maintain the platform as decentralized as possible, <span class="font-weight-bold">download and install</span> IPFS (InterPlanetary File System). IPFS ensures secure and distributed storage of digital artworks. </p>
        <p class="lead text-white">Get started today and join our thriving community of artists and collectors, where digital art finds its true expression.</p>
        
        <a href="https://ipfs.tech/" target=”_blank”><p class="text-secondary fw-semibold lead">More informationa about IPFS here</p></a> 
        <a href="https://app.tango.us/app/workflow/Download--install-and-upload-new-images-on-IPFS--f2b8ffb242bb4da1a2fa3d61d3c02418" target=”_blank”><p class="text-secondary fw-semibold lead">Follow this guide to undestand how to download, install, and upload new files onto IPFS.</p></a>
      </div>
   
    <div class="row align-items-md-center py-3 mt-5 px-3 border-start border-3 border-primary">
        <h3>Sign up to Internet Computer Protocol</h3> 
        <p class="lead">Join our community by signing up to our platform. Explore a vibrant ecosystem where artists and collectors come together to celebrate digital art. Unleash your creativity or indulge in unique masterpieces.</p>
        <p class="lead">Click on the Sign up button and start the Internet Identity registration procedure.</p>
        <a target=”_blank” href="https://wiki.internetcomputer.org/wiki/How_to_create_an_Internet_Identity"><p class="text-secondary fw-semibold lead">More Information here</p></a>
        <p class="lead">When your registration is completed, log in.</p>

    </div>

    <div class="row align-items-md-center py-3 mt-2 px-3 border-end border-3 border-secondary">
        <h3 >Complete Your Profile</h3> 
        <p class="lead">Log in and create your profile to fully immerse yourself in the experience. Choose between an artist profile or a collector profile. Express your artistic vision or curate your collection with pride.</p>
        <p class="lead">Click on the Log in button and access using your Internet Identity credentials.</p>
      </div>

    <div class="row row-cols-1 row-cols-2 align-items-md-center py-3 mt-3  px-3 bg-light mr-1 border-start border-3 border-primary " >
        <div class="col d-flex flex-column align-items-start gap-2 ">
            <h3 >Artist Profile</h3>
            <h4>Showcase Your Art</h4>
            <p class="text-body-secondary lead">As an artist, elevate your presence by adding your stunning creations to your profile. Give each artwork a captivating title, a compelling description, and a price in FIAT currency. Gain recognition, connect with art enthusiasts, and monetize your talent.</p>
            <p class="text-body-secondary lead">Be careful: you need Paypal merchant ID to sign up as artist. <span><a target=”_blank” href="https://www.paypal.com/us/cshelp/article/how-do-i-find-my-secure-merchant-id-on-my-paypal-account-help538">More information here</a></span> </p>
        </div>
        <div class="col d-flex flex-column align-items-start gap-2">
            <h3>Collector Profile</h3>
            <h4>Acquire Artworks</h4>
            <p class="text-body-secondary lead">For collectors, indulge your passion by purchasing exquisite artworks directly from the platform. Browse through a diverse selection, find the perfect pieces that speak to you, and acquire them using FIAT currency. Build a remarkable collection that reflects your unique taste.</p>
        </div>
    </div>

   

    
  </div>