<div id="bg-light landing-div">
  <div class="row">
    <div class="col">
      <img id="picture-landing" class="img-fluid d-flex overflow-hiden justify-content-center align-text-center h-100" alt="cool art logo">
    </div>
    <div class="col py-5">

        <img id="logo-landing" alt="cool art logo" width="600" height="210">

      <p class="lead">Embark on an extraordinary artistic adventure as part of our vibrant community, where artists and
        collectors unite. Discover and acquire remarkable digital creations from talented artists worldwide, while
        connecting with fellow art enthusiasts. Whether you're a creator or a collector, join us to unleash the power of
        digital art, turning passion into profit and forging lifelong connections.</p>
      <div class="mt-5">
        <a id="getstarted-btn" class="btn btn-primary text-white btn-lg" role="button">Get started</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid text-primary bg-primary ">gfds </div>
<div class="container-fluid text-light bg-light">gfds </div>
<div class="container-fluid text-secondary  bg-secondary"> fdsag</div>