<div class="h-100 d-flex justify-content-center align-items-center">
    <div>
        <div class="d-flex justify-content-center align-items-center">
            <img id="no-content-img">
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <p id="no-content-p" class="lead h4">No content available at the moment</p>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <p id="no-content-p1" class="">Visit your profile!</p>
        </div>
    </div>
</div>
