
<div class="container px-4 py-5">
    <h2 class="display-4 border-bottom mt-2">COOL ART in short</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-start gap-2">
        <h2 class="fw-bold text-body-emphasis">Decentralized Marketplace</h2>
        <p class="text-body-secondary lead">Embrace the freedom of a decentralized art marketplace where artists and collectors are in control. Say goodbye to intermediaries and centralized authorities. Our platform empowers both sellers and buyers, enabling direct peer-to-peer transactions without the need for a central authority. Experience a transparent and inclusive ecosystem where artists have autonomy over their creations, and collectors can engage in direct, secure transactions. Join us in revolutionizing the art market with decentralization at its core.</p>
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#collection" />
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Discover Authenticity</h4>
            <p class="text-body-secondary lead">Explore genuine digital artworks tokenized as NFTs, ensuring true ownership and authenticity.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#gear-fill" />
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Secure Transactions</h4>
            <p class="text-body-secondary lead">Enjoy seamless and transparent transactions with the power of blockchain and smart contracts.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#speedometer" />
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Explore with Ease</h4>
            <p class="text-body-secondary lead">Uncover a world of digital art through personalized recommendations and curated collections.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#table" />
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Connect and Engage</h4>
            <p class="text-body-secondary lead">Join a vibrant community of artists and collectors, fostering connections and inspiring collaboration.</p>
          </div>
        </div>
      </div>
    </div>
  </div>