<div class="container bg-secondary">
        <footer class="d-flex text-white flex-wrap justify-content-between align-items-center py-3">
            <p class="col-md-4 mb-0 text-white">&copy; 2023 COOL ART</p>
        
            <a href="https://internetcomputer.org/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img id="icp-onchain" alt="icp logo" width="400" height="auto">
            </a>
        
            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Home</a></li>
                <li class="nav-item"><a href="#mission" class="nav-link px-2 text-white">Mission</a></li>
                <li class="nav-item"><a href="#about" class="nav-link px-2 text-white">About</a></li>
            </ul>
        </footer>
</div>