<!-- Nav bar START -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#"><img id="navbar-logo" alt="LogoImg" width="230" height="80"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07"
            aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav me-auto ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#get-started">Get started</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#mission">In short</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#aboutus">About</a>
                </li>
            </ul>
            <div class="mx-1">
                <a class="nav-item btn btn-light rounded-pill px-3" href="" role="button">Sign Up</a>
            </div>
            <div class="mx-1">

                <a class="nav-item btn btn-secondary rounded-pill px-3 ml-1" href="" role="button">Log in</a>
            </div>
        </div>
    </div>
</nav>
<!-- Nav bar END -->